@model vidlyC.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@foreach (var customer in Model.Customers)
{
    <p>@customer.Name </p>
}

